body {
    background-color: rgb(55, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Cascadia Code",sans-serif;
}

a {
    color: rgb(51, 153, 255);
}

div.day {
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(252, 221, 163);
    width: 250px;
    float: right
}
